*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 16px/1.55 Arial, Verdana, sans-serif;
    margin: 0;
    background: var(--gradient)
}

h1 {
    color: var(--grey-300);
}

h2,
h3 {
    color: var(--grey-500);
}

h4 {
    color: var(--grey-300);
    font-weight: 400;
}

a {
    color: var(--secondary);

    &:not(:hover) {
        text-decoration: none;
    }

    &:hover {
        color: var(--secondary-250);
    }

    &:active {
        color: var(--secondary-400);
    }
}

svg {
    fill: currentColor;
}

// Listing für AGBs
$list-spacer: 2rem;
ol, ul {
    padding: 0;

    > li {
        padding-left: $list-spacer;
        list-style-type: none;
        counter-increment: item;

        ol {
            list-style-type: upper-alpha;
        }

        h3, h4 {
            margin-top: 2.5rem;

            &:before {
                content: counter(item)".";
                display: inline-block;
                width: $list-spacer;
                margin-left: -$list-spacer;
            }
        }
    }
}
