*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 16px/1.55 Arial, Verdana, sans-serif;
    margin: 0;
    background: var(--gradient)
}

h1 {
    color: var(--grey-300);
    font-size: $font-h1-size;
}

h2 {
    color: var(--grey-500);
    font-size: $font-h2-size;
}

h3 {
    color: var(--grey-500);
    font-size: $font-h3-size;
}

h4 {
    color: var(--grey-300);
    font-weight: 400;
}

a {
    color: var(--secondary);

    &:not(:hover) {
        text-decoration: none;
    }

    &:hover {
        color: var(--secondary-250);
    }

    &:active {
        color: var(--secondary-400);
    }
}

svg {
    fill: currentColor;
}

// Listing für AGBs
ol, ul {
    padding-left: 1rem;
    color: var(--grey-500);
    font-size: $font-h3-size;
    font-weight: 700;
    
    & ol, ul {
        color: var(--grey-300);
        font-weight: 400;
        font-size: 1rem;
        list-style-type: upper-roman;
        
        & ol, ul {
            color: var(--black);
            list-style-type: upper-latin;
        }
    }

    & > li {
        h3, h4 {
            margin-top: 2.5rem;
        }
    }
    
    li p {
        color: var(--black);
        font-weight: 400;
        font-size: 1rem;
    }
}
