footer {
    @include base-container;
    // Slideout-Footer ganz unten fixieren
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 1.5rem 0;
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    
    @include media-tablet {
        grid-template-columns: auto 1fr auto;
    }

    address {
        font-style: normal;
        color: var(--grey-300);

        h4 {
            margin-top: 0;
        }
    }

    a {
        @include link;
        padding: $link-padding;
    }

    nav {
        display: flex;
        align-items: flex-end;
        flex-flow: wrap;
        justify-content: center;

        @include media-tablet {
            flex-flow: column;
            justify-content: initial;
        }
    }

    .logo {
        display: flex;

        @include media-tablet-only {
            display: none;
        }

        svg {
            width: auto;
            height: 5rem;
            
            @include media-tablet {
                height: 4rem;
            }
            
            @include media-desktop {
                height: 5rem;
            }
        }
    }
}
