footer {
    // Slideout-Footer ganz unten fixieren
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1.5rem 0;

    a {
        @include link;
        padding: $link-padding;
    }
}
