header {
    @include base-container;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    
    
    nav {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5rem;
        flex: 1;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;

        a {
            @include link;
            padding: $link-padding;
        }
    }
}

.nav {
    &__logo {
        @include link;
        height: $logo-height;

        span {
            visibility: hidden;
            position: absolute;
            height: 0;
            width: 0;
            opacity: 0;
        }

        svg {
            width: auto;
            height: 100%;
        }
    }

    &__main {
        display: contents;

        @include media-desktop-only {
            position: absolute;
            top: 2.05em;
            right: 0;
            display: flex;
            flex-direction: column;
            text-align: right;
            z-index: $z-main-nav;
            background: var(--gradient);
            padding: 0 #{$base-padding} 0 #{$base-padding / 2};
        }
    }

    @include media-desktop {
        &__mobile {
            display: none;
        }
    }

    @include media-desktop-only {
        &--mobile-hidden {
            display: none;
        }
    }
}
