main {
    // background: var(--white);
    color: var(--black);
    // Max Höhe sicherstellen wegen Slideout-Footer
    min-height: 100vh;
    // Main muss über dem Slideout-Footer liegen
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 4px 0 var(--black-T50);

    &::before {
        content: '';
        background: var(--white);
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        z-index: -1;
    }

    .content {
        @include base-container;
        position: relative;

        
    }
}

@mixin content-bg($rotation, $height) {
    main::before {
        background: linear-gradient(#{$rotation}, #{$color-transparent} #{$height}, var(--white) #{$height + 0.1});
    }
}

@include isHome {
    @include content-bg($gradient-rotation-home, $main-bg-top-home - $logo-height)
}

@include isNotHome {
    @include content-bg($gradient-rotation, $main-bg-top - $logo-height)
        
    .content h1:first-child {
        margin-bottom: 5rem;
    }
}
