// Responsive Min-Widths
@mixin media-phone-only {
    @media (max-width: $width-phone - 1) { @content; }
}

@mixin media-phone {
    @media (min-width: $width-phone) { @content; }
}

@mixin media-tablet-only {
    @media (max-width: $width-tablet - 1) { @content; }
}

@mixin media-tablet {
    @media (min-width: $width-tablet) { @content; }
}

@mixin media-desktop-only {
    @media (max-width: $width-dekstop - 1) { @content; }
}

@mixin media-desktop {
    @media (min-width: $width-dekstop) { @content; }
}

@mixin base-container {
    margin: 0 auto;
    padding: $base-padding;
    width: 80vw;

    > p,
    > ul,
    > ol,
    > table,
    > h2,
    > h3,
    > h4 {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-tablet {
        width: 600px
    }

    @include media-desktop {
        width: 900px
    }
}

@mixin link-base {
    color: var(--white);
}
@mixin link-hover {
    color: var(--grey-200);
}
@mixin link {
    @include link-base;

    &:hover {
        @include link-hover;
    }
}
@mixin isHome {
    body.home { @content; }
}
@mixin isNotHome {
    body:not(.home) {  @content; }
}
