<!-- <div class="ticket v2"> -->
<div class="ticket">
    <div>
        <p>
            Während des aktuellen Lockdowns könnt ihr bei uns je eine der beiden
            Eishallen zum Individualsport unter Beachtung der Corona-Auflagen
            mieten. Somit kann man entweder alleine, zu zweit oder mit den
            Mitgliedern eines Haushaltes aufs Eis.
        </p>
        <p>
            Weitere Informationen zu der aktuellen Corona-Verordnung:<br />
            <a
                href="http://sozialministerium.baden-wuerttemberg.de/de/gesundheit-pflege/gesundheitsschutz/infektionsschutz-hygiene/informationen-zu-coronavirus/corona-verordnung-des-landes-baden-wuerttemberg/"
                >Landesverordnung des Sozialministeriums BW</a
            >
        </p>
    </div>
    <div class="ticket__cta-wrapper">
        <p>Jetzt hier bestellen!</p>
        <a class="ticket__cta" href="{{ .Site.Params.tickets }}">
            Eiszeit mieten
        </a>
        <a href="/agb-corona">AGBs Corona</a>
    </div>
    <p class="ticket__disclaimer">
        Unser Personal ist berechtig die im eTicket-System hinterlegten Daten
        vor Ort zu beim Eintritt in den Eistreff Waldbronn zu Prüfen!
    </p>
</div>
