@font-face {
    font-family: Humanist;
    src: url('../font/Humanist-531-Bold.ttf');
}

body {
    font: 16px/1.55 Arial, Verdana, sans-serif;
    margin: 0;
    background: var(--gradient);
}

h1,
h2,
h3,
h4 {
    font-family: Humanist;
}

h1 {
    color: var(--white);
    margin: 2rem 0;

    // color: var(--primary);
    // color: var(--grey-050);
    // font-size: $font-h1-size-mobile;

    // @include media-phone {
    //     font-size: $font-h1-size;
    // }
}

.home h1 {
    margin: 4rem 0;
}

h2 {
    // color: var(--grey-500);
    // color: var(--primary);
    // font-size: $font-h2-size-mobile;
    // margin-top: 2rem;

    // @include media-phone {
    //     font-size: $font-h2-size;
    // }
}

h3 {
    // color: var(--grey-500);
    // color: var(--primary);
    // font-size: $font-h3-size;
    // margin-top: 2rem;
}

h4 {
    // color: var(--black);
    // color: var(--primary);
    // // color: var(--grey-300);
    // font-weight: 400;
    // margin-top: 2rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: var(--primary);
    // Wegen Link auf der Datenschutz-Seite
    word-break: break-all;

    &:hover {
        color: var(--primary-250);
    }

    &:active {
        color: var(--primary-400);
    }
}

hr {
    margin: 4rem 0;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

svg {
    fill: currentColor;
    flex: 1;
}

.address {
    font-style: normal;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 0.75em;

    &__title {
        grid-column: 1 / -1;
        margin-bottom: 0.5rem;
    }

    &__icon {
        width: 1.2em;
        display: flex;
    }
}
