// ---------- Font ----------

$font-h1-size: 2rem !default;
$font-h1-size-mobile: 1.6rem !default;
$font-h2-size: 1.5rem !default;
$font-h2-size-mobile: 1.4rem !default;
$font-h3-size: 1.2rem !default;

// ---------- Link Styling ----------

$link-base-padding: 1rem !default;

$link-padding-top: $link-base-padding / 4;
$link-padding-side: $link-base-padding;

$link-padding: #{$link-padding-top} #{$link-padding-side};

// ---------- Page Widths ----------

$width-phone: 500px !default;
$width-tablet: 700px !default;
$width-dekstop: 1000px !default;

// ---------- Z-Indexes ----------

$z-main-nav: 100 !default;

// ---------- Sizes ----------

$logo-height: 5rem !default;
$base-padding: 1rem !default;

// ---------- Top-Gradient ----------

$gradient-rotation: 176deg;
$gradient-rotation-home: 174deg;
$gradient-width: 2.5rem;

$gradient-pos-1: 2rem;
$gradient-pos-2: 6rem;
$gradient-pos-3: 15rem;
$gradient-pos-2-home: 7rem;
$gradient-pos-3-home: 19rem;

$main-bg-top: 15rem;
$main-bg-top-home: 22rem;

$gradient-light: var(--grey-300);
$gradient-mid: var(--grey-600);
$gradient-dark: var(--grey-900);
