<footer>
    <address>
        <p><b>{{ .Site.Params.company }}</b></p>
        <p>{{ .Site.Params.street }}<br>{{ .Site.Params.city }}</p>
        <p>
            Telefon: {{ .Site.Params.phone }}<br>
            E-Mail: {{ .Site.Params.mail | markdownify }}
        </p>
    </address>
    <div class="logo">
        {{ partial "svg/logo.svg" }}
    </div>
    <nav>
        <a class="nav__icon"
           href="https://www.facebook.com/ETWaldbronn/">{{ partial "svg/facebook.svg" }} Facebook</a>
        <a class="nav__icon"
           href="https://www.instagram.com/eistreff_waldbronn_ggmbh/">{{ partial "svg/instagram.svg" }} Instagram</a>
        {{ range .Site.Menus.footer }}
        <a href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
        </a>
        {{ end }}
    </nav>
</footer>

{{ $opts := dict "noComments" true "minified" true "compact" true }}

{{- $linkHandler := resources.Get "ts/external-links.ts" | babel $opts -}}
{{- $typescript := resources.Get "ts/main-nav.ts" | babel $opts -}}

{{ $script := slice $typescript $linkHandler | resources.Concat "js/script.js" | minify | fingerprint }}
<script type="text/javascript"
        src="{{ $script.Permalink }}"
        integrity="{{ $script.Data.Integrity }}"
        defer></script>
