<!-- <div class="ticket v2"> -->
<div class="ticket">
    <div>
        <p><strong>Der Eistreff Waldbronn ist wieder für Sie da!</strong>
            Eintrittskarten können ausschließlich online – und somit kontaktlos erworben werden.

        </p>
        <p>Weitere Informationen:<br>
            <a
               href="http://sozialministerium.baden-wuerttemberg.de/de/gesundheit-pflege/gesundheitsschutz/infektionsschutz-hygiene/informationen-zu-coronavirus/corona-verordnung-des-landes-baden-wuerttemberg/">Landesverordnung
                des Sozialministeriums BW</a>
        </p>
    </div>
    <div>
        <p>Jetzt hier bestellen!</p>
        <a class="ticket__cta"
           href="https://eistreff.ticketkauf.me">eTickets kaufen</a>
        <a href="/agb-corona">AGBs Corona</a>
    </div>
    <p class="ticket__disclaimer">Unser Personal ist berechtig die im eTicket-System hinterlegten Daten vor Ort
        zu beim Eintritt in den Eistreff Waldbronn zu Prüfen!
    </p>
</div>
