@mixin base-listing {
    > ol,
    > ul {
        padding-left: 3rem;
        color: var(--primary);
        // color: var(--grey-500);
        font-size: $font-h3-size;
        font-weight: 700;

        li {
            h3,
            h4 {
                margin-top: 2.5rem;
            }

            p {
                color: var(--black);
                font-weight: 400;
                font-size: 1rem;
            }
        }
    }
}

body.datenschutz,
body.agb-corona,
body.agb {
    .content {
        @include base-listing;
    }
}

body.agb-corona,
body.agb {
    .content {
        > ol,
        > ul {
            li {
                > ol,
                > ul {
                    padding-left: 1rem;
                    // color: var(--black);
                    color: var(--primary);
                    font-weight: 400;
                    font-size: 1rem;
                    list-style-type: upper-roman;

                    @include media-phone-only {
                        padding-left: 0;
                    }

                    li {
                        > ol,
                        > ul {
                            color: var(--black);
                            list-style-type: upper-latin;
                        }
                    }
                }
            }
        }
    }
}

body.datenschutz {
    .content {
        > ol,
        > ul {
            li ul,
            li ol {
                color: var(--black);
                font-weight: 400;
                font-size: 1rem;
            }
        }
    }
}

// body.datenschutz,
// body.agb-corona,
// body.agb {
//     .content {
//         > ol,
//         > ul {
//             padding-left: 3rem;
//             color: var(--grey-500);
//             font-size: $font-h3-size;
//             font-weight: 700;

//             li {
//                 h3, h4 {
//                     margin-top: 2.5rem;
//                 }

//                 p {
//                     color: var(--black);
//                     font-weight: 400;
//                     font-size: 1rem;
//                 }

//                 > ol,
//                 > ul {
//                     padding-left: 1rem;
//                     color: var(--grey-300);
//                     font-weight: 400;
//                     font-size: 1rem;
//                     list-style-type: upper-roman;

//                     @include media-phone-only {
//                         padding-left: 0;
//                     }

//                     li > ol,
//                     li > ul {
//                         color: var(--black);
//                         list-style-type: upper-latin;
//                     }
//                 }
//             }

//         }
//     }
// }
