body.home {
    --hero-clip-height: 10rem;

    h1 {
        --h1-margin: 4rem;

        @include media-desktop-only {
            text-align: center;
        }
    }

    .hero {
        &__snow {
            &:nth-of-type(1) {
                --snow-size: 15rem;

                @include media-desktop-only {
                    display: none;
                }
            }

            &:nth-of-type(2) {
                --snow-size: 33rem;
                --snow-rotate: 50deg;
                left: -5rem;
            }
        }
    }
}
