<header>
    <a class='nav__logo'
       title="{{ .Site.Title}}"
       href='{{ .Site.Home.RelPermalink }}'>
        <span>{{ .Site.Title }}</span>
        {{ partial "svg/logo.svg" }}
    </a>
    <nav>
        <a href="#"
           class="nav__mobile">&#9776 Menu</a>
        <div class="nav__main nav--mobile-hidden">
            <a href="/">Home</a>
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
            <a class="nav__icon"
               href="https://www.facebook.com/ETWaldbronn/">{{ partial "svg/facebook.svg" }}</a>
            <a class="nav__icon"
               href="https://www.instagram.com/eistreff_waldbronn_ggmbh/">{{ partial "svg/instagram.svg" }}</a>
            <div class="nav__snow">
                {{ partial "svg/snow.svg" }}
            </div>
        </div>
        <div class="nav__overlay"></div>
    </nav>
</header>
