<div class="hero">
    <div class="hero__content">
        <span class="hero__snow"></span>
        {{ if .IsHome }}<span class="hero__snow"></span>{{ end }}

        <h1>
            {{ if .Params.headline }}
                {{ .Params.headline }}
                {{ else }}
                {{ .Title }}
            {{ end }}

            {{ if .Params.subheadline }}
                <span class="hero__subheadline">{{ .Params.subheadline }}</span>
            {{ end }}
        </h1>

        {{ if .IsHome }}
            {{ partial "news" . }}

            {{ else if .Params.hero_image }}

            {{ partial "hero-image" . }}
        {{ end }}
    </div>
</div>
