.picto-bar {
    @include base-container-new;
    grid-column: 1 / -1;
    background: var(--gradient);
    color: var(--white);
    margin: 2rem 0;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0;
        gap: 1rem;
    }

    $svg-size: 5rem;
    svg {
        min-width: $svg-size;
        max-width: $svg-size;
    }

    @include media-tablet-only {
        &__content {
            justify-self: center;
            width: 19rem;
        }
    }

    @include media-phone-only {
        &__content {
            width: 12rem;
        }
    }
}
