.ticket {
    box-shadow: 0 0 10px var(--black-T50);
    border-radius: 15px;
    width: 600px;
    margin: 0 auto 2rem;
    padding: 0.5rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    background: var(--grey-050);
    
    &__cta {
        grid-column: 1 / -1;
        color: var(--white);
        background: var(--primary);
        padding: 1rem 2rem;
        border-radius: 2rem;
        display: block;
        font-size: 1.1rem;
        margin: 1rem 0;

        &:hover {
            color: var(--white);
            background: var(--primary-250);
            text-decoration: none;
        }
    
        &:active {
            color: var(--white);
            background: var(--primary-400);
        }
    }

    &__disclaimer {
        font-size: 0.8rem;
        grid-column: 1 / -1;
        color: var(--grey-400);
    }

    p:not(.ticket__disclaimer) {
        margin-bottom: 0;    
    }
}


.ticket.v2 {
    background: var(--white);
}
