<!-- </div> -->
<div class="picto-bar">
    <div class="content">
        {{ partial "svg/picto-skating.svg" }}
        <!-- pretier-ignore -->
        {{ partial "svg/picto-ice-hockey.svg" }}
        <!-- pretier-ignore -->
        {{ partial "svg/picto-figure-skating.svg" }}
        <!-- pretier-ignore -->
        {{ partial "svg/picto-curling.svg" }}
        <!-- pretier-ignore -->
        {{ partial "svg/picto-ice-stock.svg" }}
        <!-- pretier-ignore -->
        {{ partial "svg/picto-training.svg" }}
    </div>
</div>
<!-- <div class="content"> -->
